/* line 15, ../scss/components.scss */
.m-xs {
  margin: 5px; }

/* line 18, ../scss/components.scss */
.m-sm {
  margin: 10px; }

/* line 21, ../scss/components.scss */
.m-md {
  margin: 15px; }

/* line 24, ../scss/components.scss */
.m-lg {
  margin: 20px; }

/* line 27, ../scss/components.scss */
.m-xl {
  margin: 25px; }

/* line 32, ../scss/components.scss */
.p-xs {
  padding: 5px; }

/* line 35, ../scss/components.scss */
.p-sm {
  padding: 10px; }

/* line 38, ../scss/components.scss */
.p-md {
  padding: 15px; }

/* line 41, ../scss/components.scss */
.p-lg {
  padding: 20px; }

/* line 44, ../scss/components.scss */
.p-xl {
  padding: 25px; }

/* line 49, ../scss/components.scss */
.p-top-xs {
  padding-top: 5px; }

/* line 52, ../scss/components.scss */
.p-top-sm {
  padding-top: 10px; }

/* line 55, ../scss/components.scss */
.p-top-md {
  padding-top: 15px; }

/* line 58, ../scss/components.scss */
.p-top-lg {
  padding-top: 20px; }

/* line 61, ../scss/components.scss */
.p-top-xl {
  padding-top: 25px; }

/* line 66, ../scss/components.scss */
.p-bottom-xs {
  padding-bottom: 5px; }

/* line 69, ../scss/components.scss */
.p-bottom-sm {
  padding-bottom: 10px; }

/* line 72, ../scss/components.scss */
.p-bottom-md {
  padding-bottom: 15px; }

/* line 75, ../scss/components.scss */
.p-bottom-lg {
  padding-bottom: 20px; }

/* line 78, ../scss/components.scss */
.p-bottom-xl {
  padding-bottom: 25px; }

/* line 83, ../scss/components.scss */
.p-left-xs {
  padding-left: 5px; }

/* line 86, ../scss/components.scss */
.p-left-sm {
  padding-left: 10px; }

/* line 89, ../scss/components.scss */
.p-left-md {
  padding-left: 15px; }

/* line 92, ../scss/components.scss */
.p-left-lg {
  padding-left: 20px; }

/* line 95, ../scss/components.scss */
.p-left-xl {
  padding-left: 25px; }

/* line 100, ../scss/components.scss */
.p-right-xs {
  padding-right: 5px; }

/* line 103, ../scss/components.scss */
.p-right-sm {
  padding-right: 10px; }

/* line 106, ../scss/components.scss */
.p-right-md {
  padding-right: 15px; }

/* line 109, ../scss/components.scss */
.p-right-lg {
  padding-right: 20px; }

/* line 112, ../scss/components.scss */
.p-right-xl {
  padding-right: 25px; }

/* line 118, ../scss/components.scss */
.m-top-xs {
  margin-top: 5px; }

/* line 121, ../scss/components.scss */
.m-top-sm {
  margin-top: 10px; }

/* line 124, ../scss/components.scss */
.m-top-md {
  margin-top: 15px; }

/* line 127, ../scss/components.scss */
.m-top-lg {
  margin-top: 20px; }

/* line 130, ../scss/components.scss */
.m-top-xl {
  margin-top: 25px; }

/* line 135, ../scss/components.scss */
.m-bottom-xs {
  margin-bottom: 5px; }

/* line 138, ../scss/components.scss */
.m-bottom-sm {
  margin-bottom: 10px; }

/* line 141, ../scss/components.scss */
.m-bottom-md {
  margin-bottom: 15px; }

/* line 144, ../scss/components.scss */
.m-bottom-lg {
  margin-bottom: 20px; }

/* line 147, ../scss/components.scss */
.m-bottom-xl {
  margin-bottom: 25px; }

/* line 152, ../scss/components.scss */
.m-right-xs {
  margin-right: 5px; }

/* line 155, ../scss/components.scss */
.m-right-sm {
  margin-right: 10px; }

/* line 158, ../scss/components.scss */
.m-right-md {
  margin-right: 15px; }

/* line 161, ../scss/components.scss */
.m-right-lg {
  margin-right: 20px; }

/* line 164, ../scss/components.scss */
.m-right-xl {
  margin-right: 25px; }

/* line 169, ../scss/components.scss */
.m-left-xs {
  margin-left: 5px; }

/* line 172, ../scss/components.scss */
.m-left-sm {
  margin-left: 10px; }

/* line 175, ../scss/components.scss */
.m-left-md {
  margin-left: 15px; }

/* line 178, ../scss/components.scss */
.m-left-lg {
  margin-left: 20px; }

/* line 181, ../scss/components.scss */
.m-left-xl {
  margin-left: 25px; }

/* Radius */
/* line 186, ../scss/components.scss */
.r-xs {
  border-radius: 2px; }

/* line 189, ../scss/components.scss */
.r-sm {
  border-radius: 4px; }

/* line 192, ../scss/components.scss */
.r-md {
  border-radius: 8px; }

/* Buttons */
/* line 197, ../scss/components.scss */
body {
  padding: 40px; }

/* line 201, ../scss/components.scss */
.bt {
  border: none;
  position: relative;
  height: 2.2rem;
  margin: 0;
  min-width: 4rem;
  padding: 0 1rem;
  display: inline-block;
  font-family: "Arial",sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 2.2rem;
  vertical-align: middle; }

/* line 240, ../scss/components.scss */
.bt-default {
  color: #000;
  background: #E0E0E0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  /* line 231, ../scss/components.scss */
  .bt-default:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 6px 0; }
  /* line 235, ../scss/components.scss */
  .bt-default.active {
    background: #f4f4f4; }

/* line 243, ../scss/components.scss */
.bt-primary {
  color: #fff;
  background: #3f51b5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  /* line 231, ../scss/components.scss */
  .bt-primary:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 6px 0; }
  /* line 235, ../scss/components.scss */
  .bt-primary.active {
    background: #5365c9; }

/* line 246, ../scss/components.scss */
.bt-success {
  color: #fff;
  background: #5cb85c;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  /* line 231, ../scss/components.scss */
  .bt-success:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 6px 0; }
  /* line 235, ../scss/components.scss */
  .bt-success.active {
    background: #70cc70; }

/* line 249, ../scss/components.scss */
.bt-info {
  color: #fff;
  background: #5bc0de;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  /* line 231, ../scss/components.scss */
  .bt-info:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 6px 0; }
  /* line 235, ../scss/components.scss */
  .bt-info.active {
    background: #6fd4f2; }

/* line 252, ../scss/components.scss */
.bt-warning {
  color: #fff;
  background: #f0ad4e;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  /* line 231, ../scss/components.scss */
  .bt-warning:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 6px 0; }
  /* line 235, ../scss/components.scss */
  .bt-warning.active {
    background: #ffc162; }

/* line 255, ../scss/components.scss */
.bt-danger {
  color: #fff;
  background: #ff4081;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  /* line 231, ../scss/components.scss */
  .bt-danger:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 6px 0; }
  /* line 235, ../scss/components.scss */
  .bt-danger.active {
    background: #ff5495; }

/* line 259, ../scss/components.scss */
.bt-disable {
  color: #B5ADAD; }
