/* line 4, ../scss/components.scss */
.m-xs {
  margin: 5px; }

/* line 7, ../scss/components.scss */
.m-sm {
  margin: 10px; }

/* line 10, ../scss/components.scss */
.m-md {
  margin: 15px; }

/* line 13, ../scss/components.scss */
.m-lg {
  margin: 20px; }

/* line 16, ../scss/components.scss */
.m-xl {
  margin: 25px; }

/* line 21, ../scss/components.scss */
.p-xs {
  padding: 5px; }

/* line 24, ../scss/components.scss */
.p-sm {
  padding: 10px; }

/* line 27, ../scss/components.scss */
.p-md {
  padding: 15px; }

/* line 30, ../scss/components.scss */
.p-lg {
  padding: 20px; }

/* line 33, ../scss/components.scss */
.p-xl {
  padding: 25px; }

/* line 38, ../scss/components.scss */
.p-top-xs {
  padding-top: 5px; }

/* line 41, ../scss/components.scss */
.p-top-sm {
  padding-top: 10px; }

/* line 44, ../scss/components.scss */
.p-top-md {
  padding-top: 15px; }

/* line 47, ../scss/components.scss */
.p-top-lg {
  padding-top: 20px; }

/* line 50, ../scss/components.scss */
.p-top-xl {
  padding-top: 25px; }

/* line 55, ../scss/components.scss */
.p-bottom-xs {
  padding-bottom: 5px; }

/* line 58, ../scss/components.scss */
.p-bottom-sm {
  padding-bottom: 10px; }

/* line 61, ../scss/components.scss */
.p-bottom-md {
  padding-bottom: 15px; }

/* line 64, ../scss/components.scss */
.p-bottom-lg {
  padding-bottom: 20px; }

/* line 67, ../scss/components.scss */
.p-bottom-xl {
  padding-bottom: 25px; }

/* line 72, ../scss/components.scss */
.p-left-xs {
  padding-left: 5px; }

/* line 75, ../scss/components.scss */
.p-left-sm {
  padding-left: 10px; }

/* line 78, ../scss/components.scss */
.p-left-md {
  padding-left: 15px; }

/* line 81, ../scss/components.scss */
.p-left-lg {
  padding-left: 20px; }

/* line 84, ../scss/components.scss */
.p-left-xl {
  padding-left: 25px; }

/* line 89, ../scss/components.scss */
.p-right-xs {
  padding-right: 5px; }

/* line 92, ../scss/components.scss */
.p-right-sm {
  padding-right: 10px; }

/* line 95, ../scss/components.scss */
.p-right-md {
  padding-right: 15px; }

/* line 98, ../scss/components.scss */
.p-right-lg {
  padding-right: 20px; }

/* line 101, ../scss/components.scss */
.p-right-xl {
  padding-right: 25px; }

/* line 107, ../scss/components.scss */
.m-top-xs {
  margin-top: 5px; }

/* line 110, ../scss/components.scss */
.m-top-sm {
  margin-top: 10px; }

/* line 113, ../scss/components.scss */
.m-top-md {
  margin-top: 15px; }

/* line 116, ../scss/components.scss */
.m-top-lg {
  margin-top: 20px; }

/* line 119, ../scss/components.scss */
.m-top-xl {
  margin-top: 25px; }

/* line 124, ../scss/components.scss */
.m-bottom-xs {
  margin-bottom: 5px; }

/* line 127, ../scss/components.scss */
.m-bottom-sm {
  margin-bottom: 10px; }

/* line 130, ../scss/components.scss */
.m-bottom-md {
  margin-bottom: 15px; }

/* line 133, ../scss/components.scss */
.m-bottom-lg {
  margin-bottom: 20px; }

/* line 136, ../scss/components.scss */
.m-bottom-xl {
  margin-bottom: 25px; }

/* line 141, ../scss/components.scss */
.m-right-xs {
  margin-right: 5px; }

/* line 144, ../scss/components.scss */
.m-right-sm {
  margin-right: 10px; }

/* line 147, ../scss/components.scss */
.m-right-md {
  margin-right: 15px; }

/* line 150, ../scss/components.scss */
.m-right-lg {
  margin-right: 20px; }

/* line 153, ../scss/components.scss */
.m-right-xl {
  margin-right: 25px; }

/* line 158, ../scss/components.scss */
.m-left-xs {
  margin-left: 5px; }

/* line 161, ../scss/components.scss */
.m-left-sm {
  margin-left: 10px; }

/* line 164, ../scss/components.scss */
.m-left-md {
  margin-left: 15px; }

/* line 167, ../scss/components.scss */
.m-left-lg {
  margin-left: 20px; }

/* line 170, ../scss/components.scss */
.m-left-xl {
  margin-left: 25px; }
