
    <div class="container-fluid">
        <div class="row">
            <header class="col-md-12 hidden-xs">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <nav class=" navbar navbar-prymary" role="navigation">
                            <div class="container-fluid header">

                                <div class="navbar-header">
                                    <a href="http://www.fozzy.ua/" target="_blank">
                                        <img src="../src/img/logo.jpg" alt="Fozzy group logo" title="Fozzy Group" />
                                    </a>
                                </div>

                                <div class="nav navbar-nav">
                                    <a class="glyphicon glyphicon-plus btn" id="plus"></a>
                                </div>

                                <div class="nav navbar-nav form-inline">
                                    <input type="text" class="form-control" id="search" placeholder="Search" aria-describedby="basic-addon1">
                                    <span class="glyphicon glyphicon-search" id="basic-addon1"></span>
                                </div>

                                <ul class="nav navbar-nav" id="dropdown">
                                    <li class="dropdown">
                                        <button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Progect1</a></li>
                                            <li><a href="#">Progect2</a></li>
                                            <li><a href="#">Progect3</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="nav navbar-nav navbar-right" align="center">
                                    <img class="media-object" src="../src/img/ava.jpg" alt="UserAva" height="46px;" width="46px;">
                                    <label>Username</label>
                                </div>
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div><!--panel panel-primary-->

                </div>
            </header>
            <!--Visible/hidden blocks for different devices-->
            <header class="col-xs-12 hidden-md">
                <div class="panel panel-primary visible-xs">
                    <div class="panel-heading visible-xs">
                         <div class="container-fluid header-xs">
                                <div class="row visible-xs">
                                    <div class="col-xs-6 visible-xs">
                                        <a href="http://www.fozzy.ua/" target="_blank">
                                            <img src="../src/img/logo.jpg" alt="Fozzy group logo" title="Fozzy Group" />
                                        </a>
                                    </div>

                                    <div class="col-xs-4 col-xs-offset-2 visible-xs pull-right" align="center">
                                        <img class="media-object" src="../src/img/ava.jpg" alt="UserAva" height="46px;" width="46px;">
                                        <label>Username</label>
                                    </div>
                                </div>
                                <div class="row visible-xs second-row">
                                    <div class="col-xs-2 visible-xs">
                                        <a class="glyphicon glyphicon-plus btn" id="plus"></a>
                                    </div>
                                    <ul class=" nav col-xs-4 visible-xs" id="dropdown">
                                        <li class="dropdown">
                                            <button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Progect1</a></li>
                                                <li><a href="#">Progect2</a></li>
                                                <li><a href="#">Progect3</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <div class="col-xs-4 visible-xs">
                                        <input type="text" class="form-control" id="search" placeholder="Search" aria-describedby="basic-addon1">
                                    </div>

                                </div> 
                            </div>
                        </div>
                    </div>
                </header>
            <div class="panel-body col-md-12 col-xs-12">
                <p>Partial</p>
            </div>
        </div>




                </div>
