<div class="container">
    <div class="row">
        <div class="col-md-3 holder">

            <div class="col-xs-12 task task-add">
                <h3 class="new-title">a</h3>
                <a href="#" class="btn btn-default plus">+</a>
            </div>

            <div class="col-xs-12 task task-passive">
                <h3 class="task-name-info">task name</h3>
                <div class="task-progress"><div style="width:15%">15%</div></div>
                <a href="#" class="col-xs-6 btn btn-default edit">E</a>
                <a href="#" class="col-xs-6 btn btn-default look">L</a>
            </div>
            <div class="col-xs-12 task task-active">
                <h3 class="task-name-info">task name</h3>
                <div class="task-full-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto atque consequatur enim ex exercitationem impedit iste iure labore maiores, nihil officiis optio suscipit tempora ullam veniam vero! Ducimus, praesentium.</div>
                <div class="task-progress empty"><div style="width:0">0</div></div>

                <a href="#" class="col-xs-6 btn btn-default edit">E</a>
                <a href="#" class="col-xs-6 btn btn-default save">S</a>
            </div>
            <div class="col-xs-12 task task-active">
                <h3 class="task-name-info">task name</h3>
                <div class="task-full-info">
                    <div class="checkbox">
                        <label><input type="checkbox" value=""/>option 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""/>option 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""/>option 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""/>option 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""/>option 1</label>
                    </div>
                </div>
                <div class="task-progress"><div style="width:75%">75%</div></div>

                <a href="#" class="col-xs-6 btn btn-default edit">E</a>
                <a href="#" class="col-xs-6 btn btn-default save">S</a>
            </div>

            <div class="col-xs-12 task task-edit">
                <fieldset class="form-group">
                    <input type="text" class="form-control input-task-name">
                </fieldset>
                <fieldset class="form-group">
                    <textarea type="text" class="form-control input-full-info" ></textarea>
                </fieldset>

                <a href="#" class="col-xs-6 btn btn-default check-list active">c</a>
                <a href="#" class="col-xs-6 btn btn-default description">D</a>
                <a href="#" class="col-xs-6 btn btn-default cancel">C</a>
                <a href="#" class="col-xs-6 btn btn-default save">S</a>
            </div>

            <!--<div class="col-xs-12 task task-edit">-->
            <!--<h3 class="task-name-info">task name</h3>-->
            <!--<div class="task-full-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto atque consequatur enim ex exercitationem impedit iste iure labore maiores, nihil officiis optio suscipit tempora ullam veniam vero! Ducimus, praesentium.</div>-->
            <!--<div class="task-progress empty"><div style="width:0">0</div></div>-->
            <!--<fieldset class="form-group">-->
            <!--<input type="text" class="form-control input-task-name">-->
            <!--</fieldset>-->
            <!--<fieldset class="form-group">-->
            <!--<textarea type="text" class="form-control input-full-info" ></textarea>-->
            <!--</fieldset>-->

            <!--<a href="#" class="col-xs-6 btn btn-default check-list active">☰</a>-->
            <!--<a href="#" class="col-xs-6 btn btn-default description">☷</a>-->

            <!--<a href="#" class="col-xs-6 btn btn-default edit">✏</a>-->
            <!--<a href="#" class="col-xs-6 btn btn-default look active">☺</a>-->
            <!--<a href="#" class="col-xs-6 btn btn-default cancel">✖</a>-->
            <!--<a href="#" class="col-xs-6 btn btn-default save">✔</a>-->
            <!--<a href="#" class="col-xs-6 btn btn-default plus">+</a>-->
            <!--</div>-->


        </div>
    </div>

</div>