$task-text-color:white;

body, html, .panel-body{
    height:100%;
}
.header{
    padding: 1.25rem 2.1875rem 0 1.5625rem;
}
.header-xs{
    padding-top:1.25rem;
}
.panel-heading{
    padding:0;
}
#dropdown{
    margin-left: 1.875rem;
}
#plus{
    background-color: $task-text-color;
    margin: 0 1.25rem;
}
.second-row{
    margin: 1.25rem 0;
}
