$size: 5px;
$radius: 2px;
$defaultColor: #000;
$primaryColor: #fff;
$defaultBg: #E0E0E0;
$primaryBg: #3f51b5;
$successBg: #5cb85c;
$infoBg: #5bc0de;
$warningBg: #f0ad4e;
$dangerBg: #ff4081;
$activeShadow: rgba(0, 0, 0, 0.3) 0 4px 6px 0;
$boxShadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

// full margin
.m-xs{
    margin: $size;
}  
.m-sm{
    margin: $size * 2;
}
.m-md{
    margin: $size * 3;
}
.m-lg{
    margin: $size * 4;  
}
.m-xl{
    margin: $size * 5;
}
  
// full padding
.p-xs{
    padding: $size;
}
.p-sm{
    padding: $size * 2;
}
.p-md{
    padding: $size * 3;
}
.p-lg{
    padding: $size * 4;
}
.p-xl{
    padding: $size * 5;
}
  
//padding top
.p-top-xs{
    padding-top: $size;
}
.p-top-sm{
  padding-top: $size * 2;
}
.p-top-md{
  padding-top: $size * 3;
}
.p-top-lg{
  padding-top: $size * 4;
}
.p-top-xl{
  padding-top: $size * 5;
}

//padding bottom 
.p-bottom-xs{
  padding-bottom: $size;
}
.p-bottom-sm{
  padding-bottom: $size * 2;
}
.p-bottom-md{
  padding-bottom: $size * 3;
}
.p-bottom-lg{
  padding-bottom: $size * 4;
}
.p-bottom-xl{
  padding-bottom: $size * 5;
}
  
//padding left 
.p-left-xs{
  padding-left: $size;
}
.p-left-sm{
  padding-left: $size * 2;
}
.p-left-md{
  padding-left: $size * 3;
}
.p-left-lg{
  padding-left: $size * 4;
}
.p-left-xl{
  padding-left: $size * 5;
}
  
//padding right 
.p-right-xs{
  padding-right: $size;
}
.p-right-sm{
  padding-right: $size * 2;
}
.p-right-md{
  padding-right: $size * 3;
}
.p-right-lg{
  padding-right: $size * 4;
}
.p-right-xl{
  padding-right: $size * 5;
}


//margin top
.m-top-xs{
    margin-top: $size;
}
.m-top-sm{
    margin-top: $size * 2;
}
.m-top-md{
    margin-top: $size * 3;
}
.m-top-lg{
    margin-top: $size * 4;
}
.m-top-xl{
    margin-top: $size * 5;
}

//margin bottom
.m-bottom-xs{
    margin-bottom: $size;
}
.m-bottom-sm{
    margin-bottom: $size * 2;
}
.m-bottom-md{
    margin-bottom: $size * 3;
}
.m-bottom-lg{
    margin-bottom: $size * 4;
}
.m-bottom-xl{
    margin-bottom: $size * 5;
}

//margin right
.m-right-xs{
    margin-right: $size;
}
.m-right-sm{
    margin-right: $size * 2;
}
.m-right-md{
    margin-right: $size * 3;
}
.m-right-lg{
    margin-right: $size * 4;
}
.m-right-xl{
    margin-right: $size * 5;
}

//margin left
.m-left-xs{
    margin-left: $size;
}
.m-left-sm{
    margin-left: $size * 2;
}
.m-left-md{
    margin-left: $size * 3;
}
.m-left-lg{
    margin-left: $size * 4;
}
.m-left-xl{
    margin-left: $size * 5;
}

/* Radius */
.r-xs{
    border-radius: $radius;
}
.r-sm{
    border-radius: $radius * 2;
}
.r-md{
    border-radius: $radius * 4;
}

/* Buttons */
body{
    padding: 40px;
} 

.bt{
    border: none;
    position: relative;
    height: 2.2rem;
    margin: 0;
    min-width: 4rem;
    padding: 0 1rem;
    display: inline-block;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 2.2rem;
    vertical-align: middle;
}




@mixin btnStyle($color, $bg, $shadow, $shadowActive) {
    color: $color;
    background: $bg;
    box-shadow: $shadow;
    &:hover
    {
        box-shadow: $shadowActive;
    }
    &.active{
        background: $bg + 20;
    }
}

.bt-default{
    @include btnStyle($defaultColor, $defaultBg, $boxShadow, $activeShadow);
}
.bt-primary{
    @include btnStyle($primaryColor, $primaryBg, $boxShadow, $activeShadow);
}
.bt-success{
    @include btnStyle($primaryColor, $successBg, $boxShadow, $activeShadow);
}
.bt-info{
    @include btnStyle($primaryColor, $infoBg, $boxShadow, $activeShadow);
}
.bt-warning{
    @include btnStyle($primaryColor, $warningBg, $boxShadow, $activeShadow);
}
.bt-danger{
    @include btnStyle($primaryColor, $dangerBg, $boxShadow, $activeShadow);
}

.bt-disable{
    color: #B5ADAD;
}